@page
<link rel="stylesheet" href="/css/startPage.css">
<div class="top-right-links">
    <a href="~/pages/login.html">Войти</a>
    <a href="~/pages/signup.html">Зарегистрироваться</a>
</div>
<h1>Welcome to CodeTime</h1>
<div id="wrapper"></div>
